html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -400px;
   float:left
}
div#container
{
   width: 800px;
   height: 800px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url('web.jpeg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 3px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Table1
{
   border: 1px solid #000000;
   background-color: #000000;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 196px;
   height: 32px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 196px;
   height: 32px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #BFBFBF solid;
   text-align: center;
   vertical-align: middle;
   width: 224px;
   height: 32px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 tr:nth-child(odd)
{
   background-color: #F2F2F2;
}
#Line2-divider
{
   font-size: 0;
   line-height: 0;
}
#Line2-divider-separator
{
   align-items: center;
   display: flex;
   margin: 0;
}
#Line2-icon
{
   flex-shrink: 0;
   margin: 0 10px 0 10px;
}
#Line2-divider-separator:before, #Line2-divider-separator:after
{
   display: block;
   content: "";
   flex-grow: 1;
   border-color: #4169E1;
   border-style: double;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
}
#Line2
{
   margin: 0;
   padding: 0;
}
#Line2 i
{
   color: #000000;
   font-size: 10px;
   width: 10px;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer2
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer3
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer4
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageMap1
{
   vertical-align: top;
}
#ImageMap1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageMap4
{
   vertical-align: top;
}
#ImageMap4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
